<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Axon Python TicTacToe Demo</title>
    <link rel="stylesheet" media="screen" href="assets/styles.css">
    <script type="text/javascript">
        var id = "{{ id }}";
    </script>
    <script type="text/javascript" src="assets/board.js"></script>
</head>

<body>
    <div id="page">
        <img  src="assets/images/logo_black.svg" width="140" height="20">
        <h1 id="header" style="font-weight: lighter">Tic Tac Toe</h1>
        <div id="board">
            <div class="col">
                <div id="c0" class="cell" onclick="play(0)"></div>
                <div id="c3" class="cell" onclick="play(3)"></div>
                <div id="c6" class="cell" onclick="play(6)"></div>
            </div>
            <div class="col">
                <div id="c1" class="cell" onclick="play(1)"></div>
                <div id="c4" class="cell" onclick="play(4)"></div>
                <div id="c7" class="cell" onclick="play(7)"></div>
            </div>
            <div class="col">
                <div id="c2" class="cell" onclick="play(2)"></div>
                <div id="c5" class="cell" onclick="play(5)"></div>
                <div id="c8" class="cell" onclick="play(8)"></div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div id="controls">
            <button style="margin-right:50px" onclick="location.reload()">New Game</button>
            <select id="steps">
                <option value="10">10</option>
                <option value="100">100</option>
                <option value="1000">1000</option>
            </select>
            <button onclick="simulate()">Simulate</button>
        </div>
        <div id="spinner"></div>
    </div>
</body>

</html>